bin/
.settings/
.metadata/
.classpath
.project
*.class
*.log
*Icon*
*.png
*.ogg
*.mp3
starcycle-android/project.properties
*.DS_Store
.dropbox
*.iml
BuildConfig.java
out/
gen/
.idea/
docs/
extensions/
assets/
target/
servermode.yes
